<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LRCompilers</key>
	<array>
		<dict>
			<key>CommandLine</key>
			<array>
				<string>$(ruby)</string>
				<string>-rubygems</string>
				<string>$(plugin)/lib/sass/bin/sass</string>
				<string>$(additional)</string>
				<string>$(src_path)</string>
				<string>$(dst_path)</string>
			</array>
			<key>DestinationExtension</key>
			<string>css</string>
			<key>Errors</key>
			<array>
				<string>Syntax error: ((message))\n\s+on line ((line)) of ((file))\n</string>
				<string>Exception on line ((line)): ((message))\n</string>
			</array>
			<key>Extensions</key>
			<array>
				<string>sass</string>
				<string>scss</string>
			</array>
			<key>Name</key>
			<string>SASS</string>
			<key>ExpectedOutputDirectories</key>
			<array>
				<string>css</string>
				<string>styles</string>
				<string>stylesheet</string>
				<string>stylesheets</string>
			</array>
			<key>ImportRegExps</key>
			<array>
				<string>@import &quot;([^&quot;]+)&quot;</string>
				<string>@import &apos;([^&apos;]+)&apos;</string>
				<string>@import ([\w./]+)</string>
			</array>
			<key>DefaultImportedExts</key>
			<array>
				<string>sass</string>
				<string>scss</string>
			</array>
			<key>ImportToFileMappings</key>
			<array>
				<string>$(file)</string>
				<string>_$(file)</string>
			</array>
			<key>NonImportedExts</key>
			<array>
				<string>css</string>
			</array>
			<key>Options</key>
			<array>
				<dict>
					<key>Id</key>
					<string>debug-info</string>
					<key>Type</key>
					<string>checkbox</string>
					<key>Title</key>
					<string>Emit debug info for FireSass</string>
					<key>OnArgument</key>
					<string>--debug-info</string>
				</dict>
				<dict>
					<key>Id</key>
					<string>output-style</string>
					<key>Type</key>
					<string>select</string>
					<key>Items</key>
					<array>
						<dict>
							<key>Id</key>
							<string>nested</string>
							<key>Title</key>
							<string>Nested output style</string>
						</dict>
						<dict>
							<key>Id</key>
							<string>compact</string>
							<key>Title</key>
							<string>Compact output style</string>
							<key>Argument</key>
							<string>--style compact</string>
						</dict>
						<dict>
							<key>Id</key>
							<string>compressed</string>
							<key>Title</key>
							<string>Compressed output style</string>
							<key>Argument</key>
							<string>--style compressed</string>
						</dict>
						<dict>
							<key>Id</key>
							<string>expanded</string>
							<key>Title</key>
							<string>Expanded output style</string>
							<key>Argument</key>
							<string>--style expanded</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>CommandLine</key>
			<array>
				<string>$(ruby)</string>
				<string>-rubygems</string>
				<string>-I$(plugin)/lib/sass/lib</string>
				<string>-I$(plugin)/lib/compass/lib</string>
				<string>-I$(plugin)/lib/chunky_png/lib</string>
				<string>$(plugin)/lib/compass/bin/compass</string>
				<string>compile</string>
				<string>-q</string>
				<string>$(additional)</string>
				<string>$(project_dir)</string>
			</array>
			<key>RunIn</key>
			<string>$(project_dir)</string>
			<key>DestinationExtension</key>
			<string>css</string>
			<key>NeedsOutputDirectory</key>
			<false/>
			<key>Errors</key>
			<array>
				<string>Syntax error: ((message))\n\s+on line ((line)) of ((file))\n</string>
				<string>Exception on line ((line)): ((message))\n</string>
				<string>error&lt;ESC&gt;\s*((file))\s*\(Line ((line)): ((message))\)</string>
			</array>
			<key>Extensions</key>
			<array>
				<string>sass</string>
				<string>scss</string>
			</array>
			<key>Name</key>
			<string>Compass</string>
			<key>ExpectedOutputDirectories</key>
			<array>
				<string>css</string>
				<string>styles</string>
				<string>stylesheet</string>
				<string>stylesheets</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
