# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
/bin/
/PathSpec/bin/
/PathSpecTests/bin/
/backend/
/backend-interim/
/publish/
*.tgz

/PubConfig.cmd

/tools/compiler/node_modules
/compile-backend-files.cmd

obj
*.suo
*.csproj.user

# mstest test results
TestResults

#temp files
livereload-state.json
