# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
/bin/
/lib/fastJSON/fastJSON/bin/
/backend/

obj
*.suo
*.csproj.user

# mstest test results
TestResults

#temp files
livereload-state.json
