<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LRCompilers</key>
	<array>
		<dict>
			<key>Optional</key>
			<true/>
			<key>CommandLine</key>
			<array>
				<string>$(ruby)</string>
				<string>$(plugin)/lib/haml/bin/haml</string>
				<string>$(additional)</string>
				<string>$(src_path)</string>
				<string>$(dst_path)</string>
			</array>
			<key>DestinationExtension</key>
			<string>html</string>
			<key>Errors</key>
			<array>
				<string>Syntax error on line ((line)): ((message))\n</string>
				<string>Exception on line ((line)): ((message))\n</string>
			</array>
			<key>ExpectedOutputDirectories</key>
			<array>
				<string>html</string>
				<string>view</string>
				<string>views</string>
			</array>
			<key>Extensions</key>
			<array>
				<string>haml</string>
			</array>
			<key>Name</key>
			<string>HAML</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Id</key>
					<string>escape-html</string>
					<key>Type</key>
					<string>checkbox</string>
					<key>Title</key>
					<string>Escape HTML characters (like ampersands and angle brackets)</string>
					<key>OnArgument</key>
					<string>--escape-html</string>
				</dict>
				<dict>
					<key>Id</key>
					<string>no-escape-attrs</string>
					<key>Type</key>
					<string>checkbox</string>
					<key>Title</key>
					<string>Don&apos;t escape HTML characters in attributes</string>
					<key>OnArgument</key>
					<string>--no-escape-attrs</string>
				</dict>
				<dict>
					<key>Id</key>
					<string>quotes-type</string>
					<key>Type</key>
					<string>select</string>
					<key>Items</key>
					<array>
						<dict>
							<key>Id</key>
							<string>single</string>
							<key>Title</key>
							<string>Use single quotes for attributes</string>
						</dict>
						<dict>
							<key>Id</key>
							<string>double</string>
							<key>Title</key>
							<string>Use double quotes for attributes</string>
							<key>Argument</key>
							<string>--double-quote-attributes</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Id</key>
					<string>output-style</string>
					<key>Type</key>
					<string>select</string>
					<key>Items</key>
					<array>
						<dict>
							<key>Id</key>
							<string>indented</string>
							<key>Title</key>
							<string>Indented output style</string>
						</dict>
						<dict>
							<key>Id</key>
							<string>ugly</string>
							<key>Title</key>
							<string>Ugly ouput style</string>
							<key>Argument</key>
							<string>--style ugly</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Id</key>
					<string>output-format</string>
					<key>Type</key>
					<string>select</string>
					<key>Items</key>
					<array>
						<dict>
							<key>Id</key>
							<string>xhtml</string>
							<key>Title</key>
							<string>XHTML output format</string>
						</dict>
						<dict>
							<key>Id</key>
							<string>html4</string>
							<key>Title</key>
							<string>HTML4 output format</string>
							<key>Argument</key>
							<string>--format html4</string>
						</dict>
						<dict>
							<key>Id</key>
							<string>html5</string>
							<key>Title</key>
							<string>HTML5 output format</string>
							<key>Argument</key>
							<string>--format html5</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>ImportRegExps</key>
			<array>
				<string>partial\s*=&gt;\s*&quot;([^&quot;]+)&quot;</string>
				<string>partial\s*=&gt;\s*&apos;([^&apos;]+)&apos;</string>
			</array>
			<key>DefaultImportedExts</key>
			<array>
				<string>haml</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
