!!! 5
html
  head
    script(type='text/javascript')
      var _sf_startpt=(new Date()).getTime()
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title LiveReload
    link(href='http://fonts.googleapis.com/css?family=Lora:regular,bold&v1', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Caudex:regular,bold&v1', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold&v1', rel='stylesheet', type='text/css')
    // <link href='http://fonts.googleapis.com/css?family=Droid+Serif&v1' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', href='css/livereload.css', type='text/css', media='screen', title='main stylesheet', charset='utf-8')
    script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24459554-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
    style(type='text/css')
          span.label,span.spacer,span.multiple span {width:120px;float:left;} 
          span.multiple {float:left;} 
          span.button {padding-left:120px;} 
          div.clear {clear:both;padding-top:5px;} 
          .container { margin: 20px auto; width: 750px;}
        
  body
    .container
      h1 Early Access to LiveReload Builds
      p
        | I'm relying on certain brave people for pre-release testing of new builds, and I
        | can certainly use your help. Tune in!
      p
        | (If you are already subscribed to LiveReload newsletter, you can alternatively
        | click “Change your email preferences” link in any newsletter you have already
        | received and enable “I want early access” there.)
      form#subForm(action='http://andreytarantsov.createsend.com/t/r/s/fjkujj/', method='post')
        div
          span.label
            label(for='name') Name:
          span
            input#name(type='text', name='cm-name', size='40')
        div
          span.label
            label(for='fjkujj-fjkujj') Email Address:
          span
            input#fjkujj-fjkujj(type='text', name='cm-fjkujj-fjkujj', size='40')
        div
          div
            span.label
              label(for='About') About yourself (optional):
            span
              textarea#About(name='cm-f-pyuhyi', cols='40', rows='6')
          div
            span.multiple
              span Platforms you're interested in:
            span.multiple
              input#cm2462888(type='checkbox', name='cm-fo-mljhly', value='2462888')
              label(for='cm2462888') Mac OS X
              br
              input#cm2462889(type='checkbox', name='cm-fo-mljhly', value='2462889')
              label(for='cm2462889') Windows
              br
              input#cm2462890(type='checkbox', name='cm-fo-mljhly', value='2462890')
              label(for='cm2462890') Linux
          .clear
        div
          span.multiple
            span Beta Testing:
          span.multiple
            input#cm2467775(type='checkbox', name='cm-fo-mluuyy', value='2467775', checked='checked')
            label(for='cm2467775') I want early access to (and receive news about) prerelease builds
        .clear
        div
          span.button
            input(type='submit', value='Subscribe')
    script(src='https://livereload.tenderapp.com/tender_widget.js', type='text/javascript')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(type='text/javascript')
        var _sf_async_config={uid:23639,domain:"livereload.com"};
        (function(){
          function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src',
            (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
            "js/chartbeat.js");
            document.body.appendChild(e);
          }
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
          })();
          
