<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>excludedNames</key>
	<array>
		<string>CVS</string>
		<string>.svn</string>
		<string>.git</string>
		<string>.hg</string>
		<string>.DS_Store</string>
	</array>
	<key>extensions</key>
	<array>
		<string>html</string>
		<string>haml</string>
		<string>php</string>
		<string>php4</string>
		<string>php5</string>
		<string>phtml</string>
		<string>inc</string>
		<string>module</string>
		<string>tpl</string>
		<string>py</string>
		<string>rb</string>
		<string>erb</string>
		<string>class</string>
		<string>jar</string>
		<string>war</string>
		<string>par</string>
		<string>css</string>
		<string>scss</string>
		<string>sass</string>
		<string>less</string>
		<string>js</string>
		<string>coffee</string>
		<string>jpg</string>
		<string>png</string>
		<string>gif</string>
		<string>cfc</string>
		<string>cfm</string>
		<string>cfml</string>
		<string>json</string>
		<string>yml</string>
		<string>yaml</string>
		<string>tpl</string>
		<string>ctp</string>
		<string>md</string>
		<string>markdown</string>
	</array>
</dict>
</plist>
