// solarized
dark3 = #002b36
dark2 = #073642
dark1 = #586e75
dark0 = #657b83
lite0 = #839496
lite1 = #93a1a1
lite2 = #eee8d5
lite3 = #fdf6e3
yellow = #b58900
orange = #cb4b16
red = #dc322f
magenta = #d33682
violet = #6c71c4
blue = #268bd2
cyan = #2aa198
green = #859900


// helpers


border-radius(radius, corners = (top-left top-right bottom-left bottom-right))
  push(corners, top, bottom)               if all in corners
  push(corners, top-left, top-right)       if top in corners
  push(corners, bottom-left, bottom-right) if bottom in corners
  push(corners, top-left, bottom-left)     if left in corners
  push(corners, top-right, bottom-right)   if right in corners

  if top-left in corners and top-right in corners and bottom-left in corners and bottom-right in corners
    -webkit-border-radius radius if webkit in vendors
    -moz-border-radius radius    if moz in vendors
    border-radius radius         if css3 in vendors or ms in vendors or o in vendors
  else
    // workaround for a possible bug:
    // if specs start out empty, the first pushed element is flattened
    specs = (foo)
    push(specs, (top left))     if top-left in corners
    push(specs, (top right))    if top-right in corners
    push(specs, (bottom left))  if bottom-left in corners
    push(specs, (bottom right)) if bottom-right in corners
    specs = specs[1..10]

    p specs
    for spec in specs
      -webkit-border-{spec[0]}-{spec[1]}-radius radius if webkit in vendors
      -moz-border-radius-{spec[0]}{spec[1]} radius if webkit in vendors
      border-{spec[0]}-{spec[1]}-radius radius if css3 in vendors or ms in vendors or o in vendors

  -webkit-background-clip padding-box if webkit in vendors

clearfix-full()
  display: inline-block
  display: block

  &:after
      content: " "
      display: block
      height: 0
      clear: both
      overflow: hidden
      visibility: hidden


clearfix-overflow()
    overflow:  hidden
    _overflow: visible
    _zoom: 1


// grid system

colwidth = 70px
colgap = 10px
ncol = 12
pagewidth = (colwidth * ncol + colgap * (ncol - 1))

cols(n, addgap=false)
  unit(n * colwidth + (addgap ? n : n - 1) * colgap, 'px')
colsg(n)
  cols(n, true)

columns(n)
  width: cols(n)


for i in 1 .. ncol
  .col{i}
    columns i
    margin-right colgap


// hanging punctuation

span.hlq
  margin-left: -0.4em

// page layout

baseline = 28px

html, input
  font 16px/baseline etica, sans-serif
  font-weight 300
  color dark2

html
  overflow-y: scroll
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  background #fff
  min-width  pagewidth
  margin: 0 0
  padding 0 0 80px

a, a:visited
  color blue
a:hover
  color red
a:focus
  outline: thin dotted
a:hover, a:active
  outline: 0

p
  margin: 0 0 12px
h2
  margin: 0 0 16px
  color #333
  font-weight 400

section
  width pagewidth
  //background lite1
  margin 0 auto 70px
  position relative
  //background #eee

header
  text-align center
  background url(../images/header-background.png) no-repeat 50% 0%
  padding 0 //40px 0 30px
  height 569px
  margin-bottom 50px

.intro-section .content
  columns 8
  padding-left: colsg(4)
  h2
    font-weight 600

  img
    left colsg(1)
    top  -10px
    position absolute

.screenshot-section
  clearfix-full()
  margin-top 100px

  img
    float: right

    // offset the shadow
    position: relative
    top:  -11px
    left: 13px

  .testimonials
    columns 4
    line-height 24px
    font-weight 200

    p
      margin-bottom 20px

    author
      display block
      text-align right
      font-size 14px
      font-style italic

.download-and-newsletter-section
  clearfix-overflow()

  .download
    float: left
    columns 8
  
  .download-button
    font-family Verdana, Arial, sans-serif
    display block
    text-decoration none
    border-radius 5px
    background #008dd3 url(../images/download.png) no-repeat 90% 50%
    line-height 26px
    padding 10px 20px
    margin  0px 0px 8px

    &, &:visited
      color white

    span
      display  block
    span.big
      font-size 20px

    &.disabled
      background-color: white
      border: 1px dashed #777
      color: #777

  .platform
    columns 3
    margin-right colsg(1)
    float: left

    h2
      margin-top: 0

  .mac, .windows
    font-weight 200
    p
      color: #666
      display none
      font-weight 200
      font-size 14px
      color: #888

  .windows
    margin-right: 0

  .linux
    // visibility: hidden
    font-weight 200
    font-size 14px
    color: #888
    // text-align center
    margin-top: 6px
    columns 7
    clear: both

    a
      color: #888
      &:hover
        color: blue

  .newsletter-info
    margin-top 50px
    columns 7
    clear: both

.newsletter
  newsletter-width = (cols(4) - 20px)
  newsletter-wide-field-width = (newsletter-width - 6px)
  float: right
  width: (cols(4) - 10px)
  border-radius 5px
  margin-top -2px

  padding 10px 10px
  // background #f8c800
  line-height 20px
  min-height 247px

  h2
    margin 0 -10px 12px 0
    font-size 14px
    font-weight 600
    text-transform uppercase
  p
    margin 8px 0 0
    padding 0
    font-size 14px
  input, textarea
    -webkit-box-sizing content-box
    padding 0 3px
    border 1px solid lite1
    background lite3
    font-size 14px
    line-height 20px
    width: newsletter-wide-field-width
    margin: 0
  input.checkbox
    width: auto
  label.checkbox
    padding-left: 4px
    padding-right: 12px
  .submit
    padding 2px 3px
    margin-top 5px
    &:hover
      background lite2

.greencard-sent
  margin-top 90px
  text-align center

.compilers-section
  .right
    margin-top 69px
    height 483px
    background url(../screenshot-compilers.png)

.friends-section
  .left
    position relative

    img
      position absolute

      &:first-child
        left 0px
        z-index 10
      &:nth-child(2)
        top  15px
        left 130px
        z-index 9
      &:nth-child(3)
        top  0px
        left 220px
        z-index 8
      &:nth-child(4)
        top  20px
        left 320px
        z-index 7

.support-section
  .left
    li
      margin-top .5em

ul, ol
  margin: 1em 0
  padding: 0 0 0 25px

span.expand
  text-decoration underline

// normalize

button, input, select, textarea
  font-family: sans-serif

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  display: block

audio[controls], canvas, video
  display: inline-block
  *display: inline
  *zoom: 1

b, strong
  font-weight: bold

blockquote
  margin: 1em 40px

pre, code
  font-family: monospace, monospace
  _font-family: 'courier new', monospace
  font-size: 1em

pre
  white-space: pre-wrap
  word-wrap: break-word

nav ul, nav ol
  list-style: none

img
  border: 0
  -ms-interpolation-mode: bicubic

figure
  margin: 0

form
  margin: 0

fieldset
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  border: 0
  *margin-left: -7px

button, input
  line-height: normal
  *overflow: visible

button, input[type="button"], input[type="reset"], input[type="submit"]
  cursor: pointer
  -webkit-appearance: button

input[type="checkbox"], input[type="radio"]
  box-sizing: border-box

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top

table
  border-collapse: collapse
  border-spacing: 0
