<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LRCompilers</key>
	<array>
		<dict>
			<key>CommandLine</key>
			<array>
				<string>$(node)</string>
				<string>$(plugin)/node_modules/eco/bin/eco</string>
				<string>$(additional)</string>
				<string>-o</string>
				<string>$(dst_dir)</string>
				<string>$(src_file)</string>
			</array>
			<key>RunIn</key>
			<string>$(src_dir)</string>
			<key>DestinationExtension</key>
			<string>js</string>
			<key>Errors</key>
			<array>
				<string>\w+Error: ((file)):((line))\n(?:\s[^\n]*\n)*\s*\n((message))\n</string>
				<string>\w+Error: ((message))\n</string>
			</array>
			<key>ExpectedOutputDirectories</key>
			<array>
				<string>js</string>
				<string>template</string>
				<string>templates</string>
				<string>eco</string>
				<string>view</string>
				<string>views</string>
			</array>
			<key>Extensions</key>
			<array>
				<string>eco</string>
			</array>
			<key>Name</key>
			<string>Eco</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Id</key>
					<string>identifier</string>
					<key>Type</key>
					<string>edit</string>
					<key>Label</key>
					<string>Eco object identifier:</string>
					<key>Placeholder</key>
					<string>JST</string>
					<key>Argument</key>
					<string>--identifier $(value)</string>
					<key>SkipIfEmpty</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
