%html
  %head
    %link(rel='stylesheet' href='stylesheet.css')
  %body
    %h1 Hello, dear reviewer!

    %p I realize that you're not a web developer, and your job is already hard enough. So we'll be very quick.

    %p 0. Please double-click 'index.html' to open it in Safari. I guess you've already done that.

    %p 1. Please open 'stylesheet.styl' with TextEdit. (Web developers usualy use more powerful text editors, but TextEdit will do fine here.)

    %p 2. To really enjoy the experiment, please position your browser side by side with your text editor, so that you can see both.

    %p.sample 3. This paragraph is red. But if you now switch to TextEdit, change 'red' to 'blue' there and save (Command-S), it will instantly become blue.

    %p Pretty cool, isn't it? Just imagine all the time web developers used to waste previously.

    %p Thank you very much.

    %script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
