<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- SyncDirection values: upload, download -->
    <add key="SyncDirection" value="upload" />
    
    <add key="AWSAccessKeyId" value="" />
    <add key="AWSSecretAccessKey" value="" />
    <add key="UseSSL" value="true" />
    <add key="RequestEndpoint" value="" />
    <add key="BucketName" value="" />
    <add key="S3FolderKeyName" value="" />

    <add key="LocalFolderPath" value="" />

    <add key="LogOnlyMode" value="false" />
    <!-- OutputLevel values: 1 = show basic information, 2 = show detailed information -->
    <add key="OutputLevel" value="1" />
    <!-- LogFilePath example: C:\S3Sync.txt -->
    <add key="LogFilePath" value="" />
    <add key="OverwriteExistingLogFile" value="true" />

    <!-- CompareFilesBy values: ETag, Size, FileName -->
    <add key="CompareFilesBy" value="ETag" />

    <add key="TransferThreads" value="2"/>
    <add key="MultipartThreads" value="2"/>
    <add key="TransferSpeedLimitKBps" value="0" />
    <add key="ShowTransferProgress" value="true" />
    <add key="S3ErrorRetries" value="3" />

    <!-- The following only apply when SyncDirection is "upload" -->
    <add key="UploadHeaders" value="" />
    <add key="OverrideContentTypes" value="" />
    <add key="UseMultipartUpload" value="true" />
    <add key="MultipartPartSizeBytes" value="5242880" />
    <add key="SaveETagInMetadataForMultipart" value="true" />
    <add key="SaveTimestampsInMetadata" value="true" />
    <add key="IncludeLocalSubFolders" value="true" />
    <add key="ExcludeLocalFolders" value="" />
    <add key="IncludeOnlyLocalFilesRegularExpression" value="" />
    <add key="ExcludeLocalFilesRegularExpression" value="" />
    <add key="DeleteS3ItemsWhereNotInLocalList" value="true" />
    <add key="UseServerSideEncryption" value="false"/>

    <!-- The following only apply when SyncDirection is "download" -->
    <add key="GetETagFromMetadataForMultipart" value="true" />
    <add key="RestoreTimestampsFromMetadata" value="true" />
    <add key="IncludeOnlyS3FilesRegularExpression" value="" />
    <add key="ExcludeS3FilesRegularExpression" value="" />
    <add key="DeleteLocalItemsWhereNotInS3List" value="true" />
    <add key="DeleteLocalItemsToRecycleBin" value="true" />

    <!-- EmailLogCondition values: 0 = never, 1 = on error, 2 = always -->
    <add key="EmailLogCondition" value="0" />
    <add key="EmailSmtpHost" value=""/>
    <add key="EmailSmtpPort" value=""/>
    <add key="EmailSmtpEnableSsl" value=""/>
    <add key="EmailSmtpUserName" value=""/>
    <add key="EmailSmtpPassword" value=""/>
    <add key="EmailFromAddress" value=""/>
    <add key="EmailRecipients" value=""/>


    <!--  The following are examples of App.config values.  The following code is commented out and changing these values will have no affect.  Change the values above to specify your settings.

    <add key="SyncDirection" value="upload" />

    <add key="AWSAccessKeyId" value="myaccesskey" />
    <add key="AWSSecretAccessKey" value="mysecretkey" />
    <add key="UseSSL" value="true" />
    <add key="RequestEndpoint" value="" />
    <add key="BucketName" value="mybucket" />
    <add key="S3FolderKeyName" value="myS3folder/" />
    <add key="LocalFolderPath" value="C:\MySync" />

    <add key="LogOnlyMode" value="false" />
    <add key="OutputLevel" value="1" />
    <add key="LogFilePath" value="C:\S3SyncLog.txt" />
    <add key="OverwriteExistingLogFile" value="true" />

    <add key="CompareFilesBy" value="ETag" />

    <add key="TransferThreads" value="2"/>
    <add key="MultipartThreads" value="2"/>
    <add key="TransferSpeedLimitKBps" value="0" />
    <add key="ShowTransferProgress" value="true" />
    <add key="S3ErrorRetries" value="3" />

    <add key="UploadHeaders" value="x-amz-acl:public-read|x-amz-storage-class:REDUCED_REDUNDANCY" />
    <add key="OverrideContentTypes" value=".zip:application/x-zip-compressed|.aspx:text/plain" />
    <add key="UseMultipartUpload" value="true" />
    <add key="MultipartPartSizeBytes" value="5242880" />
    <add key="SaveETagInMetadataForMultipart" value="true" />
    <add key="SaveTimestampsInMetadata" value="true" />
    <add key="IncludeLocalSubFolders" value="true" />
    <add key="ExcludeLocalFolders" value="C:\MySync\DoNotSyncA|C:\MySync\DoNotSyncB" />
    <add key="IncludeOnlyLocalFilesRegularExpression" value=".*\.txt$" />
    <add key="ExcludeLocalFilesRegularExpression" value=".*\.(jpg|gif|jpeg)$" />
    <add key="DeleteS3ItemsWhereNotInLocalList" value="true" />
    <add key="UseServerSideEncryption" value="true"/>

    <add key="GetETagFromMetadataForMultipart" value="true" />
    <add key="RestoreTimestampsFromMetadata" value="true" />
    <add key="IncludeOnlyS3FilesRegularExpression" value="" />
    <add key="ExcludeS3FilesRegularExpression" value="" />
    <add key="DeleteLocalItemsWhereNotInS3List" value="true" />
    <add key="DeleteLocalItemsToRecycleBin" value="false" />

    <add key="EmailLogCondition" value="1" />
    <add key="EmailSmtpHost" value="smtp.gmail.com"/>
    <add key="EmailSmtpPort" value="587"/>
    <add key="EmailSmtpEnableSsl" value="true"/>
    <add key="EmailSmtpUserName" value="user@gmail.com"/>
    <add key="EmailSmtpPassword" value="gmailpassword"/>
    <add key="EmailFromAddress" value="user@gmail.com"/>
    <add key="EmailRecipients" value="person1@company.com,person2@company.com"/>
    -->

  </appSettings>
</configuration>