RewriteEngine on
RewriteRule ^(intro|mac|win|beta)[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/67441-how-do-i-start-using-livereload- [L,R]
RewriteRule ^features[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86270-what-can-livereload-do- [L,R]
RewriteRule ^mobile[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86232-how-do-i-use-livereload-on-iphone-ipad-android-etc [L,R]
RewriteRule ^compilation[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86276-compilation [L,R]
RewriteRule ^postproc[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86219-custom-post-processing [L,R]
RewriteRule ^remote[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86183 [L,R]
RewriteRule ^remote-preproc[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86283-using-css-js-preprocessors-with-remote-workflows [L,R]
RewriteRule ^votebox[/.,;)]*$ http://feedback.livereload.com/forums/157942-general [L,R]
RewriteRule ^integration[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/87979-how-do-i-choose-the-best-integration-method- [L,R]
RewriteRule ^extensions[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86242-how-do-i-install-and-use-the-browser-extensions- [L,R]
RewriteRule ^(troubleshooting|crashed/mac|crashed/windows)[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86294-how-do-i-troubleshoot-livereload- [L,R]
RewriteRule ^fsevents[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86239 [L,R]
RewriteRule ^vendor-prefixes[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86176-handling-vendor-prefixes [L,R]
RewriteRule ^version-control[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86185-using-with-a-version-control-system-git-svn-hg- [L,R]
RewriteRule ^limitations[/.,;)]*$ http://feedback.livereload.com/knowledgebase/topics/13763-limitations [L,R]
RewriteRule ^err/port-occupied[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86181-failed-to-start-port-occupied [L,R]
RewriteRule ^err/compass-nothing-to-compile[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86266-compass-nothing-to-compile- [L,R]
RewriteRule ^32bit[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86274-32-bit-mac-support [L,R]
RewriteRule ^protocol[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86174-livereload-protocol [L,R]
RewriteRule ^alternatives[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86189-i-don-t-like-livereload-can-you-recommend-somethi [L,R]
RewriteRule ^api[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86264-plugin-api [L,R]
RewriteRule ^privacy[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86197-usage-statistics-privacy-policy [L,R]
RewriteRule ^presskit[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86249-review-press-media-kit [L,R]
RewriteRule ^refund[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86222-how-do-i-get-a-refund- [L,R]
RewriteRule ^about[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/86167-about-acknowledgements [L,R]
RewriteRule ^moved[/.,;)]*$ http://feedback.livereload.com/knowledgebase/articles/92771-we-ve-moved-to-a-new-support-site [L,R]
RewriteRule ^help[/.,;)]*$ http://feedback.livereload.com/ [L,R]

RewriteRule ^kb/general-use/using-livereload-without-browser-extensions$ http://go.livereload.com/integration [L,R]
RewriteRule ^kb/general-use/working-with-local-files-file-urls$ http://go.livereload.com/integration [L,R]
RewriteRule ^kb/general-use/using-livereload-on-iphone-ipad-android-and-others$ http://go.livereload.com/mobile [L,R]
RewriteRule ^kb/general-use/browser-extensions$ http://go.livereload.com/extensions [L,R]
RewriteRule ^kb/installation/getting-started-with-livereload$ http://go.livereload.com/intro [L,R]
RewriteRule ^kb/general-use/remote-server-workflows$ http://go.livereload.com/remote [L,R]
RewriteRule ^kb/workflows/overview-of-remote-workflows$ http://go.livereload.com/remote [L,R]
RewriteRule ^kb/general-use/using-cssjs-preprocessors-with-remote-workflow$ http://go.livereload.com/remote-preproc [L,R]
RewriteRule ^kb/features/custom-post-processing$ http://go.livereload.com/postproc [L,R]
RewriteRule ^kb/features/compilation$ http://go.livereload.com/compilation [L,R]
RewriteRule ^kb/tips/handling-vendor-prefixes$ http://go.livereload.com/vendor-prefixes [L,R]
RewriteRule ^kb/tips/using-with-a-version-control-system-git-svn-hg-etc$ http://go.livereload.com/version-control [L,R]
RewriteRule ^kb/limitations/javascript-libraries-incompatible-with-livereload$ http://go.livereload.com/limitations [L,R]
RewriteRule ^kb/troubleshooting/failed-to-start-port-occupied$ http://go.livereload.com/err/port-occupied [L,R]
RewriteRule ^kb/troubleshooting/os-x-fsevents-bug-may-prevent-monitoring-of-certain-folders$ http://go.livereload.com/fsevents [L,R]
RewriteRule ^kb/troubleshooting/compass-nothing-to-compile$ http://go.livereload.com/err/compass-nothing-to-compile [L,R]
RewriteRule ^kb/troubleshooting/32-bit-mac-support$ http://go.livereload.com/32bit [L,R]
RewriteRule ^kb/troubleshooting/troubleshooting-livereload-on-windows$ http://go.livereload.com/troubleshooting [L,R]
RewriteRule ^kb/troubleshooting/troubleshooting-livereload-on-a-mac$ http://go.livereload.com/troubleshooting [L,R]
RewriteRule ^kb/troubleshooting/livereload-has-crashed-on-windows$ http://go.livereload.com/troubleshooting [L,R]
RewriteRule ^kb/troubleshooting/livereload-has-crashed-on-a-mac$ http://go.livereload.com/troubleshooting [L,R]
RewriteRule ^kb/troubleshooting/safari-browser-extension-does-not-work$ http://go.livereload.com/troubleshooting [L,R]
RewriteRule ^kb/troubleshooting/custom-processing-step-creates-an-infinite-loop$ http://go.livereload.com/troubleshooting [L,R]
RewriteRule ^kb/roadmap/beta-versions$ http://go.livereload.com/beta [L,R]
RewriteRule ^kb/roadmap/roadmap$ http://go.livereload.com/votebox [L,R]
RewriteRule ^kb/ecosystem/livereload-protocol$ http://go.livereload.com/protocol [L,R]
RewriteRule ^kb/ecosystem/alternatives-to-livereload$ http://go.livereload.com/alternatives [L,R]
RewriteRule ^kb/ecosystem/plugin-api$ http://go.livereload.com/api [L,R]
RewriteRule ^kb/about-us/usage-statistics-privacy-policy$ http://go.livereload.com/privacy [L,R]
RewriteRule ^kb/about-us/review-press-media-kit$ http://go.livereload.com/presskit [L,R]
RewriteRule ^kb/about-us/getting-a-refund$ http://go.livereload.com/refund [L,R]
RewriteRule ^kb/about-us/about-acknowledgements$ http://go.livereload.com/about [L,R]

RewriteRule ^kb/ http://go.livereload.com/moved [L,R]
RewriteRule ^discussions/ http://go.livereload.com/moved [L,R]
RewriteRule ^discussion/ http://go.livereload.com/moved [L,R]
RewriteRule ^$ http://feedback.livereload.com/ [L,R]
RewriteRule ^.* http://go.livereload.com/moved [L,R]
