<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LRCompilers</key>
	<array>
		<dict>
			<key>CommandLine</key>
			<array>
				<string>$(node)</string>
				<string>$(plugin)/node_modules/less/bin/lessc</string>
				<string>$(additional)</string>
				<string>$(src_path)</string>
				<string>$(dst_path)</string>
			</array>
			<key>DestinationExtension</key>
			<string>css</string>
			<key>Errors</key>
			<array>
				<string>&lt;ESC&gt;((message)) on line ((line))&lt;ESC&gt; in &lt;ESC&gt;((file))(?:&lt;ESC&gt;|\n)</string>
				<string>(Missing ((message))$)</string>
				<string>((message:Syntax Error)) on line ((line))</string>
				<string>((message:color functions take numbers as parameters))</string>
				<string>((message:variable .*? is undefined))</string>
				<string>((message:FATAL ERROR: ***))\n</string>
				<string>((file)):((line))\n[^\n]*\n\s*\^\nError: ((message))\n</string>
				<string>^Error: EBADF, ((message)) '((file))'</string>
				<string>&lt;ESC&gt;((message)) in ((file))</string>
				<string>^TypeError: ((message-override:Internal LESS compiler error))</string>
				<string>^((message:file '.*?' wasn't found.))</string>
			</array>
			<key>Extensions</key>
			<array>
				<string>less</string>
			</array>
			<key>Name</key>
			<string>LESS</string>
			<key>ExpectedOutputDirectories</key>
			<array>
				<string>css</string>
				<string>styles</string>
				<string>stylesheet</string>
				<string>stylesheets</string>
			</array>
			<key>ImportRegExps</key>
			<array>
				<string>@import &quot;([^&quot;]+)&quot;</string>
				<string>@import &apos;([^&apos;]+)&apos;</string>
				<string>@import ([\w./]+)</string>
			</array>
			<key>DefaultImportedExts</key>
			<array>
				<string>less</string>
			</array>
			<key>NonImportedExts</key>
			<array>
				<string>css</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
